<div class="home-container">
  <section class="intro">
    <h1>Benvenuto al Cinema CineMille</h1>
    <p>
      Il cinema “CineMille” è un esercizio storico dell’area fiorentina, uno dei
      più grandi presenti in Toscana. Con 12 sale, di cui 2 in tecnologia IMAX,
      è il punto di riferimento per gli amanti del cinema.
    </p>
    <p>
      Le nostre sale offrono una capienza che varia da 50 a 250 posti a sedere,
      offrendo un'esperienza unica per ogni tipo di pubblico.
    </p>
  </section>

  <section class="intro">
    <h2>I nostri Servizi</h2>
    <p>
      La nostra applicazione ti permette di gestire e visualizzare la
      programmazione dei film nelle sale, ottimizzando la permanenza dei film
      per una gestione più efficiente. Ecco cosa puoi fare con l'applicazione:
    </p>
    <ul>
      <li>Gestire la programmazione dei film settimanale</li>
      <li>Visualizzare i film attualmente in programmazione</li>
      <li>Consultare lo storico delle proiezioni passate</li>
      <li>Accedere ai dettagli dei film proiettati sul sito web del cinema</li>
    </ul>
  </section>

  <section class="cta">
    <h2>Consulta la Programmazione</h2>
    <p>
      Scopri i film attualmente in sala e la loro programmazione settimanale.
      Pianifica la tua visita e non perdere le nuove uscite!
    </p>
    <button
      class="cta-btn"
      routerLink="/programmazione"
      routerLinkActive="active-link"
    >
      Visualizza la Programmazione
    </button>
  </section>
</div>
