<div class="container">
  <div class="bg-dark">
    <h2 class="proiezione-title-header text-white">Storico</h2>

    <!-- Barra di filtro -->
    <div class="filtro-container">
      <div class="filtro-bar">
        <label>
          Data inizio:
          <input type="date" class="filtro-input" [(ngModel)]="dataInizio" />
        </label>

        <label>
          Data fine:
          <input type="date" class="filtro-input" [(ngModel)]="dataFine" />
        </label>

        <button class="filtro-button" (click)="filtraProiezioni()">
          Filtra
        </button>
        <button class="reset-button" (click)="reset()">Reset</button>
      </div>
    </div>

    <hr />

    <!-- Lista Proiezioni -->

    <div class="proiezione-list-container">
      <table class="storico-table">
        <thead>
          <tr>
            <th>Data Inizio Proiezione</th>
            <th>Data Fine Proiezione</th>
            <th>Sala</th>
            <th>Capienza Sala</th>
            <th>Tipologia di Sala</th>
            <th>Titolo Film</th>
            <th>Genere Film</th>
            <th>Data Uscita Film</th>
            <th>Durata Film</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let storicos of storico">
            <td>{{ storicos.dataInizio | date : "dd/MM/yyyy" }}</td>
            <td>{{ storicos.dataFine | date : "dd/MM/yyyy" }}</td>
            <td>{{ storicos.sala.nome }}</td>
            <td>{{ storicos.sala.capienza }}</td>
            <td>{{ storicos.sala.tipo }}</td>
            <td>{{ storicos.film.titolo }}</td>
            <td>{{ storicos.film.genere }}</td>
            <td>{{ storicos.film.dataUscita }}</td>
            <td>{{ storicos.film.durata }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div class="pagination-container">
      <button
        class="pagination-button"
        (click)="prevPage()"
        [disabled]="currentPage === 0"
      >
        ←
      </button>

      <span
        *ngFor="let page of pageArray"
        (click)="goToPage(page)"
        [class.active]="page === currentPage"
      >
        {{ page + 1 }}
      </span>

      <!-- La pagina corrente può essere dinamica -->
      <button
        class="pagination-button"
        (click)="nextPage()"
        [disabled]="currentPage === pageMax - 1"
      >
        →
      </button>
    </div>
    <br />
  </div>
</div>
